<% @page_title = "Seikatsuとは" %>

<section class="about">
  <div class="about__heading">
    <h1 class="about__heading_title">Seikatsu</h1>
    <p class="about__heading_desc">生活に関する情報を共有するサービスです</p>
  </div>
  <div class="about__main">
    <div class="about__main_body">
      <p>生活などに関する情報を、Markdownを用いた記事で共有するWebサービスです。</p>
      <p>あなたの記事が周りの人の手助けになるかも。</p>
      <p>このWebサービスは<a href="https://github.com/TakuyaHanada/Seikatsu">オープンソース</a>です。問題などありましたら、ご連絡してくださると助かります。</p>
    </div>
  </div>
</section>