<% @page_title = "お問い合わせ" %>

<section class="contact">
  <h1 class="contact__title">お問い合わせ</h1>
  <p class="contact__text">お問い合わせは以下のメールアドレスにお願いします。</p>
  <p class="contact__text">seikatsu.takuyahanada[a]gmail.com</p>
  <p class="contact__text">※[a]は@に置き換えてください。</p>
</section>