<section class="ranking tile">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "週間ランキング", :root, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "最新の記事", :latest, class: "nav-link unactive" %>
    </li>
  </ul>
  <div class="ranking-items">
    <% if @ranking_items.present? %>
      <% @ranking_items.each do |item| %>
        <%= render("shared/item", item: item) %>
      <% end %>
    <% else %>
      <p class="not-found">いいねがついている記事がありません</p>
    <% end %>
  </div>
</section>