<% @page_title = "Markdownの書き方" %>

<section class="item-main tile">
  <div class="item-main__body">
    <h1 class="body_title">Markdownの書き方</h1>
    <div class="markdown">
<% body = "# 1. 見出し

```
# 見出し1
## 見出し2
### 見出し3
#### 見出し4
##### 見出し5
###### 見出し6
```

# 見出し1
## 見出し2
### 見出し3
#### 見出し4
##### 見出し5
###### 見出し6

# 2. リスト

```
- リスト1
    - リスト1-1
        - リスト1-1-1
        - リスト1-1-2
    - リスト1-2
- リスト2
- リスト3
```

- リスト1
    - リスト1-1
        - リスト1-1-1
        - リスト1-1-2
    - リスト1-2
- リスト2
- リスト3

```
1. 数字ありリスト1
  1. 数字ありリスト1-1
  2. 数字ありリスト1-2
2. 数字ありリスト2
3. 数字ありリスト3
```
1. 数字ありリスト1
  1. 数字ありリスト1-1
  2. 数字ありリスト1-2
2. 数字ありリスト2
3. 数字ありリスト3

# 3. 引用

```
> 引用

> 引用

>> 二重引用

>> 二重引用
```
> 引用

> 引用

>> 二重引用

>> 二重引用

# 4. 文字のスタイルなど

```
_斜め文字_

*斜め文字*

__太字__

**太字**

`コード`
```

_斜め文字_

*斜め文字*

__太字__

**太字**

`コード`

# 5. 水平線
```
***

---

___
```

***

---

___

# 6. リンク

```
[こちら](https://www.google.co.jp/)

https://www.google.co.jp/
```

[こちら](https://www.google.co.jp/)

https://www.google.co.jp/

# 7. 画像

```
![家族](https://1.bp.blogspot.com/-JapIMlQ8uYw/XaKa3l0uZHI/AAAAAAABVjk/9Dn0TxFBqsoqtFKrx5PlpvNiapqG2oqTACNcBGAsYHQ/s1600/family_shopping_bag_paper_small.png)
```

![家族](https://1.bp.blogspot.com/-JapIMlQ8uYw/XaKa3l0uZHI/AAAAAAABVjk/9Dn0TxFBqsoqtFKrx5PlpvNiapqG2oqTACNcBGAsYHQ/s1600/family_shopping_bag_paper_small.png)

# 8. テーブル

```
|商品名|値段|個数|
|----|----|----|
|うどん|100|2|
|卵|150|1|
```

|商品名|値段|個数|
|----|----|----|
|うどん|100|2|
|卵|150|1|
" %>
      <%= markdown_to_html(body) %>
    </div>
  </div>
</section>