<footer class="footer">
  <div class="container">
    <hr>
    <ul class="footer__list">
      <li class="footer__list_item">
        <%= link_to "Seikatsuとは", about_path %>
      </li>
      <li class="footer__list_item">
        <%= link_to "Markdownの書き方", markdown_example_path %>
      </li>
      <li class="footer__list_item">
        <%= link_to "お問い合わせ", contact_path %>
      </li>
      <li class="footer__list_item">
        <a href="https://github.com/TakuyaHanada/Seikatsu">GitHub</a>
      </li>
    </ul>
    <p class="footer__copyright">© 2019 TakuyaHanada</p>
  </div>
</footer>